* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}




/*Archivos*/
@import "sass/_fonts_colors.scss";
@import "sass/_header.scss";
@import "sass/_secc_1.scss";
@import "sass/_secc_2.scss";
@import "sass/_secc_3.scss";
@import "sass/_footer.scss";

