@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/*Archivos*/
/* Fuentes */
header {
  height: 785px;
  background-image: url(../../tennis_png/group-R.png);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header1 header2 header3";
  -ms-grid-columns: 1fr 1178px 1fr;
      grid-template-columns: 1fr 1178px 1fr;
}

header .header_1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header_1 #tennis_p1 {
  margin-top: 25px;
  margin-right: 32px;
  margin-left: 36px;
}

header .header_1 .line_white {
  width: 1px;
  height: 811px;
  border: solid 2px #ffffff;
}

header .header_2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header2;
  margin-left: 67px;
  margin-top: 44px;
}

header .header_2 nav {
  margin-bottom: 144px;
}

header .header_2 nav .menu-header {
  color: white;
  font-size: 16px;
  list-style: none;
  width: 579px;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu;
}

header .header_2 nav .menu-header li {
  display: inline;
}

header .header_2 nav .menu-header li .line_h {
  width: 17px;
  height: 2px;
  border: solid 2px #ffffff;
  display: none;
  margin-top: 10px;
}

header .header_2 nav .menu-header li:hover {
  font-weight: bold;
}

header .header_2 nav .menu-header li:hover .line_h {
  display: block;
}

header .header_2 .msj {
  color: white;
  line-height: 68px;
  letter-spacing: -0.05px;
  font-size: 53px;
  height: 231px;
  width: 100%;
  padding-top: 60px;
}

header .header_2 .msj span {
  color: #cbe346;
  font-weight: bold;
}

header .header_2 .nosotros {
  color: white;
  background-image: url("../../tennis_png/path_w_R.svg");
  background-repeat: no-repeat;
  background-position: 80% center;
  width: 269px;
  height: 53px;
  background-color: transparent;
  padding: 15px 30px;
  border-radius: 26.5px;
  border: solid 1px white;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  text-align: left;
  padding: 15px 38px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: boton;
  position: relative;
  top: 0;
}

header .language {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: header3;
  color: white;
  font-size: 16px;
  list-style: none;
  width: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 94px;
  margin-top: 45px;
}

header .language li {
  display: inline;
}

header .language li .line_l {
  width: 17px;
  height: 2px;
  border: solid 2px #ffffff;
  display: none;
  margin-top: 10px;
}

header .language li:hover {
  font-weight: bold;
}

header .language li:hover .line_l {
  display: block;
}

@media screen and (min-width: 320px) and (max-width: 1219px) {
  header {
    height: 550px;
    padding: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-position: 60% 10%;
  }
  header .header_1 {
    display: none;
  }
  header .header_2 {
    margin: 0;
  }
  header .header_2 nav .menu-header {
    display: block;
    width: 100%;
  }
  header .header_2 nav .menu-header li {
    width: 100%;
    display: block;
    height: 32px;
    margin-bottom: 10px;
  }
  header .header_2 .msj {
    font-size: 35px;
    width: 100%;
    line-height: 50px;
    padding: 0px;
    height: 150px;
    margin-bottom: 40px;
  }
  header .header_2 .nosotros {
    background-image: none;
    text-align: center;
    width: 85%;
    margin: 0 auto;
  }
}

.secc-1 {
  background-color: #f3f4f8;
  height: 392px;
  display: -ms-grid;
  display: grid;
  width: 100%;
      grid-template-areas: "brand contenido boton";
  -ms-grid-columns: 1fr 555px 1fr;
      grid-template-columns: 1fr 555px 1fr;
}

.secc-1 .brand_container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: brand;
  padding: 108px 51px 255px 255px;
  width: 100%;
}

.secc-1 .brand_container .brand {
  color: #cbe346;
  font-size: 15px;
  letter-spacing: 1.87px;
  line-height: 30px;
  text-align: right;
}

.secc-1 .contenido_secc1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: contenido;
  padding-top: 76px;
  padding-bottom: 67px;
}

.secc-1 .contenido_secc1 .titulo_secc1 {
  margin-bottom: 15px;
  height: 151px;
}

.secc-1 .contenido_secc1 .titulo_secc1 h2 {
  color: #1e2335;
  font-size: 50px;
  line-height: 1.14;
  letter-spacing: -0.06px;
}

.secc-1 .contenido_secc1 .parrafo_secc1 {
  height: 87px;
  width: 393px;
  color: #787878;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: 0.51px;
}

.secc-1 .historia {
  color: #273048;
  background-image: url("../../tennis_png/path_R.png");
  background-repeat: no-repeat;
  background-position: 80% center;
  width: 234px;
  height: 53px;
  background-color: transparent;
  padding: 15px 38px;
  border-radius: 26.5px;
  border: solid 1px #282e47;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  text-align: left;
  padding: 15px 38px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: boton;
  position: relative;
  top: 277px;
}

@media screen and (min-width: 320px) and (max-width: 1219px) {
  .secc-1 {
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .secc-1 .brand_container {
    padding: 0px;
    margin-bottom: 15px;
  }
  .secc-1 .brand_container .brand {
    text-align: center;
    font-size: 20px;
  }
  .secc-1 .contenido_secc1 {
    padding: 0px;
    margin-bottom: 15px;
  }
  .secc-1 .contenido_secc1 .titulo_secc1 {
    height: 50px;
  }
  .secc-1 .contenido_secc1 .titulo_secc1 h2 {
    font-size: 20px;
    text-align: center;
  }
  .secc-1 .contenido_secc1 .parrafo_secc1 {
    width: 100%;
    padding: 0px 10%;
    font-size: 15px;
  }
  .secc-1 .historia {
    padding: 0;
    top: 0px;
    margin: 0 auto;
    width: 40%;
    background-image: none;
    text-align: center;
  }
}

.secc-2 {
  height: 468px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "parte1 parte2";
  -ms-grid-columns: 530px 1fr;
      grid-template-columns: 530px 1fr;
  color: white;
}

.secc-2 .secc2_p1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: parte1;
  background-image: url(../../tennis_png/ball-color-court_R.png);
  padding-top: 38px;
  padding-right: 50px;
  padding-left: 200px;
}

.secc-2 .secc2_p1 .title_p {
  font-size: 50px;
}

.secc-2 .secc2_p1 .title_p span {
  font-weight: bold;
}

.secc-2 .secc2_p1 .subtitle_p {
  padding-top: 13px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.51px;
}

.secc-2 .secc2_p1 .points {
  margin-top: 20px;
  margin-bottom: 30px;
}

.secc-2 .secc2_p1 .points .point_secc2 {
  margin-right: 24px;
}

.secc-2 .secc2_p1 .plays {
  width: 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.secc-2 .secc2_p1 .plays .play_der {
  height: 54px;
  width: 54px;
  border-radius: 50%;
  background-color: #cbe346;
  text-align: center;
}

.secc-2 .secc2_p1 .plays #playDer {
  position: relative;
  top: 20px;
}

.secc-2 .secc2_p1 .plays .play_izq {
  height: 54px;
  width: 54px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid white;
  text-align: center;
}

.secc-2 .secc2_p1 .plays .play_izq #playIzq {
  position: relative;
  top: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.secc-2 .secc2_p2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: parte2;
  padding-top: 51px;
  padding-left: 52px;
  padding-bottom: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secc-2 .secc2_p2 .circulo {
  padding-right: 36px;
}

.secc-2 .secc2_p2 .circulo .circ_v {
  color: white;
  background-color: #cbe346;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  margin-top: 11px;
  margin-left: 17px;
}

@media screen and (min-width: 320px) and (max-width: 1219px) {
  .secc-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1000px;
  }
  .secc-2 .secc2_p1 {
    padding: 20px;
  }
  .secc-2 .secc2_p1 .title_p {
    text-align: center;
    font-size: 20px;
  }
  .secc-2 .secc2_p1 .subtitle_p {
    font-size: 15px;
  }
  .secc-2 .secc2_p1 .points {
    margin-left: 25%;
    margin-right: 25%;
  }
  .secc-2 .secc2_p1 .plays {
    width: 100%;
  }
  .secc-2 .secc2_p2 {
    padding: 0px;
    margin-top: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .secc-2 .secc2_p2 .circulo {
    padding: 0px;
    margin: 5px auto;
  }
  .secc-2 .secc2_p2 #circulo3 {
    display: none;
  }
}

.secc-3 {
  height: 586px;
}

.secc-3 .jugadora {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 320px) and (max-width: 1219px) {
  .secc-3 {
    height: auto;
  }
}

footer {
  width: 100%;
  background-color: #cbe346;
  height: 203px;
  font-size: 13px;
  color: #2b3049;
  letter-spacing: 1.14px;
  padding-top: 64px;
  padding-bottom: 58px;
  padding-left: 78px;
  padding-right: 63px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "menu pelota" "icons pelota";
}

footer .pelota_foot {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: pelota;
  position: relative;
  top: 13px;
  left: 400px;
}

footer .menu-footer {
  list-style: none;
  width: 59.3%;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu;
}

footer .menu-footer li {
  display: inline;
}

footer .menu-footer li:hover {
  font-weight: bold;
}

footer .icons {
  font-size: 12px;
  height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: icons;
}

footer .icons .link_icon {
  color: white;
  height: 31px;
  width: 31px;
  border: 1px solid white;
  border-radius: 90%;
  padding: 2px 3px;
  margin-right: 12px;
  font-size: medium;
  text-align: center;
}

footer .icons .link_icon i {
  padding: 4px;
}

@media screen and (min-width: 320px) and (max-width: 1219px) {
  footer {
    padding: 5%;
        grid-template-areas: "menu" "icons";
    -ms-grid-rows: 80% 1fr;
        grid-template-rows: 80% 1fr;
  }
  footer .pelota_foot {
    display: none;
  }
  footer .icons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer nav {
    width: 100%;
  }
  footer nav .menu-footer {
    display: block;
    width: 100%;
  }
  footer nav .menu-footer li {
    width: 100%;
    display: block;
    height: 32px;
  }
}
/*# sourceMappingURL=styles.css.map */