footer {
    width: 100%;
    background-color: #cbe346;
    height: 203px;
    font-size: 13px;
    color: #2b3049;
    letter-spacing: 1.14px;

    padding-top: 64px;
    padding-bottom: 58px;
    padding-left: 78px;
    padding-right: 63px;

    display: grid;
    grid-template-areas:
        "menu pelota"
        "icons pelota";

    .pelota_foot {
        grid-area: pelota;
        position: relative;
        top: 13px;
        left: 400px;
    }

    .menu-footer {
        list-style: none;
        width: 59.3%; //451px
        height: 37px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-area: menu;

        li {
            display: inline;

            &:hover {
                font-weight: bold;
            }
        }
    }

    .icons {
        font-size: 12px;
        height: 31px;
        display: flex;
        grid-area: icons;

        .link_icon {
            color: white;
            height: 31px;
            width: 31px;
            border: 1px solid white;
            border-radius: 90%;
            padding: 2px 3px;
            margin-right: 12px;
            font-size: medium;
            text-align: center;

            i {
                padding: 4px;
            }
        }
    }
}

//Versión móvil
@media screen and (min-width: 320px) and (max-width: 1219px){
    footer {
        padding: 5%;
        grid-template-areas:
            "menu"
            "icons";

        grid-template-rows: 80% 1fr;

        .pelota_foot {
            display: none;
        }

        .icons {
            justify-content: space-between;
        }

        nav {
            width: 100%;

            .menu-footer {
                display: block;
                width: 100%;

                li {
                    width: 100%;
                    display: block;
                    height: 32px;
                }
            }
        }
    }
}
