header {
    height: 785px;
    background-image: url(../../tennis_png/group-R.png);
    display: grid;
    grid-template-areas: "header1 header2 header3";
    grid-template-columns: 1fr 1178px 1fr;

    .header_1 {
        grid-area: header1;
        display: flex;
        justify-content: space-between;

        #tennis_p1 {
            margin-top: 25px;
            margin-right: 32px;
            margin-left: 36px;
        }

        .line_white {
            width: 1px;
            height: 811px;
            border: solid 2px #ffffff;
        }
    }

    .header_2 {
        grid-area: header2;
        margin-left: 67px;
        margin-top: 44px;

        nav {
            margin-bottom: 144px;
            .menu-header {
                color: white;
                font-size: 16px;
                list-style: none;
                width: 579px; //579px
                height: 37px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                grid-area: menu;

                li {
                    display: inline;

                    .line_h {
                        width: 17px;
                        height: 2px;
                        border: solid 2px #ffffff;
                        display: none;
                        margin-top: 10px;
                    }

                    &:hover {
                        font-weight: bold;

                        .line_h {
                            display: block;
                        }
                    }
                }
            }
        }

        .msj {
            color: white;
            line-height: 68px;
            letter-spacing: -0.05px;
            font-size: 53px;
            height: 231px;
            width: 100%; //709px
            padding-top: 60px;

            span {
                color: $verde;
                font-weight: bold;
            }
        }

        .nosotros {
            color: white;
            background-image: url("../../tennis_png/path_w_R.svg");
            background-repeat: no-repeat;
            background-position: 80% center;
            width: 269px;
            height: 53px;
            background-color: transparent;
            padding: 15px 30px;
            border-radius: 26.5px;
            border: solid 1px white;
            font-family: "Roboto", sans-serif;
            font-size: 13px;
            text-align: left;
            padding: 15px 38px;
            grid-area: boton;
            position: relative;
            top: 0;
        }
    }

    .language {
        grid-area: header3;
        color: white;
        font-size: 16px;
        list-style: none;
        width: 62px;
        display: flex;
        justify-content: space-between;
        margin-right: 94px;
        margin-top: 45px;

        li {
            display: inline;

            .line_l {
                width: 17px;
                height: 2px;
                border: solid 2px #ffffff;
                display: none;
                margin-top: 10px;
            }

            &:hover {
                font-weight: bold;

                .line_l {
                    display: block;
                }
            }
        }
    }
}

//Versión móvil
@media screen and (min-width: 320px) and (max-width: 1219px){
    header {
        height: 550px;
        padding: 10%;
        display: flex;
        flex-direction: column;
        background-position: 60% 10%;

        .header_1 {
            display: none;
        }

        .header_2 {
            margin: 0;

            nav {
                .menu-header {
                    display: block;
                    width: 100%;

                    li {
                        width: 100%;
                        display: block;
                        height: 32px;
                        margin-bottom: 10px;
                    }
                }
            }

            .msj {
                font-size: 35px;
                width: 100%;
                line-height: 50px;
                padding: 0px;
                height: 150px;
                margin-bottom: 40px;
            }

            .nosotros {
                background-image: none;
                text-align: center;
                width: 85%;
                margin: 0 auto;
            }
        }
    }
}
