.secc-3 {
    height: 586px;

    .jugadora {
        max-width: 100%;
        height: auto;
    }

}

    //Versión móvil
@media screen and (min-width: 320px) and (max-width: 1219px){

    .secc-3 {
        height: auto;
    }
    
}
